body {
    background-color: #2e2e2e;
    max-height: 100%;
}

.linha {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0px;
}

.coluna {
    display: flex;
    flex-direction: column;
}

#button {
    background-color: #2e2e2e;
    border: 4px yellow;
    border-radius: 50px;
    width: 150px;
    height: 100px;
    font-size: 1.5em;    
}

#button:hover {
    background-color: goldenrod;
}

#luminaria {
    width: 500px;
    height: 500px;
}

#change {
    width: 500px;
    height: 100%;
}