html {
  font-family: "Lucida Sans", sans-serif;
}

#toptext {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.toptext {
  border: rgb(0, 0, 0) solid 1px;
  border-radius: 20px;
  padding: 0px;
  width: 100%;
  height: auto;
}

#mainImg {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

body {
  text-align: center;
  background-color: rgb(132, 121, 150);
}
